html {
    background-color: rgb(100, 214, 161);
}
body{
    width: 100%;
}

.social {
    font-size: 2vh;
}

h2, h5, .social {
    font-family: 'Bubblegum Sans', cursive;
}
.parallax-container {
    width: 100%;
}

 #simon {
     padding: 2%;
     font-family: 'Ubuntu Condensed', sans-serif;
 }

 @media(max-width: 400px){
    img{
        height: 2vh;
    }
    .parallax-container {
    height: 10vh;
  }
 }
 